{% extends 'base.html.twig' %}

{% block header_button %}
    <button class="btn btn-info my-2 my-sm-0" type="button">Posts</button>
{% endblock %}

{% block body %}

    <main role="main" class="container d-flex flex-column">
        <div class="post card bg-light m-3">
            <h2 class="text-center">Create new post</h2>
            <div class="m-3">
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Save</button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
